- var distDir = "/" + config.distDir + "/"
- var cssDir = distDir + config.cssDir + "/"
- var semanticDir = distDir + "semantic/dist/"
link(rel='stylesheet', href=`${semanticDir}semantic.min.css`)
link(rel='stylesheet', href=`${semanticDir}components/site.min.css`)
link(rel='stylesheet', href=`${semanticDir}components/checkbox.min.css`)

link(rel='stylesheet' href="/node_modules/ag-grid-community/dist/styles/ag-grid.min.css")
link(rel='stylesheet' href="/node_modules/ag-grid-community/dist/styles/ag-theme-balham.min.css")


