include mixin.pug
doctype html
html(lang='ja')
    block vars
    include head.pug

    body

        block main-contents
        +inputHidden("ModelErrors", "{{.modelErrors}}")
        include script.pug
        include modal.pug